<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Mettre à jour le client</h4>
                <p class="card-category">Entrer ces informations</p>
            </div>
            <div class="container">
                
                <form [formGroup]="clientform" (submit)="createClient()"> 
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" class="form-control" formControlName="nom">
                    </div>
                    <div class="form-group">
                        <label>Prenom</label>
                        <input type="text" class="form-control" formControlName="prenom">
                    </div>

                    <div class="form-group ">
                        <label>Email </label>
                        <input type="text" class="form-control" formControlName="email">
                    </div>

                    <div class="form-group ">
                        <label>Password</label>
                        <input type="text" class="form-control" formControlName="password">
                    </div>

                    <div class="form-group ">
                        <label>Date Naissance</label>
                        <input type="text" class="form-control" formControlName="dateNaissance">
                    </div>
                    <div class="form-group ">
                        <label>Profession</label>
                        <input type="text" class="form-control" formControlName="profession">
                    </div>
                    <div class="form-group ">
                        <label>Categorie Client</label>
                        <input type="text" class="form-control" formControlName="categorieClient">
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary mb-5" value="Mettre à jour le client">
                </form>
            </div>
        </div>
    </div>
</div>
