<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Mettre à jour le client</h4>
                <p class="card-category">Entrer ces informations</p>
            </div>
            <div class="container">

                <form [formGroup]="clientform" (submit)="createClient()">
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" class="form-control" [value]="clientModif.nom" formControlName="nom">
                    </div>
                    <div class="alert alert-danger"
                        *ngIf="clientform.get('nom').errors?.required && clientform.get('nom').touched" role="alert">
                        Nom obligatoire!
                    </div>
                    <div class="alert alert-danger" *ngIf="clientform.get('nom').errors?.pattern" role="alert">
                        Nom contient que des lettres!
                    </div>
                    <div class="form-group">
                        <label>Prenom</label>
                        <input type="text" class="form-control" [value]="clientModif.prenom" formControlName="prenom">
                    </div>
                    <div class="alert alert-danger"
                        *ngIf="clientform.get('prenom').errors?.required && clientform.get('prenom').touched"
                        role="alert">
                        Prenom obligatoire!
                    </div>
                    <div class="alert alert-danger" *ngIf="clientform.get('prenom').errors?.pattern  " role="alert">
                        Prenom contient que des lettres!
                    </div>
                    <div class="form-group ">
                        <label>Email </label>
                        <input type="text" class="form-control" [value]="clientModif.email" formControlName="email">
                    </div>
                    <div class="alert alert-danger"
                        *ngIf="clientform.get('email').errors?.required && clientform.get('email').touched"
                        role="alert">
                        Email obligatoire!
                    </div>
                    <div class="alert alert-danger" *ngIf="clientform.get('email').errors?.pattern  " role="alert">
                        Email : email@gmail.com!
                    </div>
                    <div class="form-group ">
                        <label>Mot de passe</label>
                        <input type="text" class="form-control" [value]="clientModif.password"
                            formControlName="password">
                    </div>
                    <div class="alert alert-danger"
                        *ngIf="clientform.get('password').errors?.required && clientform.get('password').touched"
                        role="alert">
                        Mot de passe obligatoire!
                    </div>
                    <div class="alert alert-danger" *ngIf="clientform.get('password').errors?.pattern " role="alert">
                        Pas de lettre spécials!
                    </div>
                    <div class="form-group ">
                        <label>Date Naissance</label>
                        <input type="text" class="form-control" [value]="clientModif.dateNaissance"
                            formControlName="dateNaissance">
                    </div>
                    <div class="alert alert-danger"
                        *ngIf="clientform.get('dateNaissance').invalid && clientform.get('dateNaissance').touched"
                        role="alert">
                        Date Naissance obligatoire!
                    </div>
                    <div class="form-group ">
                        <label>Profession</label>
                        <input type="text" class="form-control" [value]="clientModif.profession"
                            formControlName="profession">
                    </div>
                    <div class="form-group ">
                        <label>Categorie Client</label>
                        <input type="text" class="form-control" [value]="clientModif.categorieClient"
                            formControlName="categorieClient">
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary mb-5" value="Mettre à jour le client">
                </form>
            </div>
        </div>
    </div>
</div>